@charset 'utf-8';

// reset css
@import 'reset.scss';

// font style
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

#header {
  width: 100%;

  .inner {
    width: 1180px; height: 150px;
    margin: 0 auto;
    position: relative;

    h1 {
      position: absolute;
      top: 30px; left: 50%;
      transform: translateX(-50%);

      a {
        font: bold 28px/1 'arial';
        color: #444;
      }
    }
    .menuWeb {
      #gnb {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        border-bottom: 1px solid #555;
        border-top: 1px solid #555;

        li {
          float: left;
          margin: 0 50px;
          a {
            color: #333;
          }
        }
        &::after {
          content: '';
          display: block;
          margin-top: 40px;
        }
      }
      .util {
        position: absolute;
        top: 50px; right: 40px;

        li {
          float: left;
          margin-left: 20px;
          i {
            color: #9D5353;
          }
        }
      }
    }
  }
}

/* figure visual 영역 */

#visual {
  width: 100%; height: calc(100vh - 182px);
  overflow: hidden;
  background: #000;
  margin-top: 30px;

  video {
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: #fff;
    }
    #visual-btn {
      font-size: 16px;
      margin-top: 30px;
      padding: 6px 30px;
      border: 1px solid #fff;
      color: #fff;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

/* section - new to store 영역 */

#new-arrival {
  position: relative;
  width: 100%;
  padding: 200px 0;

  .inner {
    width: 1120px;
    margin: 0 auto;
    position: relative;


    h1 {
      font: bold 24px/1 'arial';
      color: #555;
      text-align: center;
      margin-bottom: 50px;
    }

    // slider 버튼
    i {
      position: absolute;
      font-size: 50px;
      color: #555;
      bottom: 150px;
    }
    .fa-angle-left {
  
    left: -100px;
    }
    .fa-angle-right {
  
    right: -100px;
    }

    .wrap {
      width: 100%;
      overflow: hidden;
      .wrap-imgs {
        width: 1700px;
        article {
          float: left;
          width: 250px;
          margin-right: 40px;
          text-align: center;
          &:last-of-type {
            margin-right: 0;
          }
          .pic {
            width: 100%; height: 250px;
            overflow: hidden;
            transition: 1s;
            img {
              width: 100%; height: 100%;
              object-fit: cover;
              transition: 0.5s;
            }
          }
          h2 {
  
            a {
              font-size: 20px;
              color: #798777;
            }
          }
        }
      }
    }
  }
}
.new-arrival-bg {
  position: absolute;
  width: 100%; height: 340px;
  bottom: 0;
  background: #BDD2B6;
  z-index: -1;
}

/* section - occasion 영역 */
#occasions {
  width: 100%;
  padding: 100px 0;
  background: #BDD2B6;
  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    h1 {
      font-size: 40px;
      color: #555;
      text-align: center;
      margin-bottom: 50px;
    }
    .wrap {
      width: 100%;
      article {
        // 첫번째 occasion article
        &:nth-of-type(1) {
          width: 380px; height: 620px;
          // background: #444;
          float: left;
          margin-right: 20px;
          padding: 170px 50px 0;
          text-align: center;
          border: 2px solid #333;
          i {
            font-size: 100px;
            color: #fff;
            margin-bottom: 20px;
          }
          h2 {
            font-size: 20px/1;
            color: #fff;
            margin-bottom: 30px;
          }
          p {
            font: 14px/1.3 'arial';
            color: #999;
            margin-bottom: 30px;
          }
          a {
            display: block;
            /* a값은 버튼을 만들것이기 때문에 display: block을 해줘야한다. */
            width: 150px; height: 30px;
            font: 11px/30px 'arial';
            color: #ddd;
            border: 1px solid #bbb;
            margin: 0 auto;
          }
          
        }
        /* 두번째 brand article */
        &:nth-of-type(2) {
          width: 380px; height: 300px; 
          background: #444;
          float: left;
          img {
            width: 100%; height: 100%;
            object-fit: cover;
          }
        }
        /* 세번째 brand article */
        &:nth-of-type(3) {
          width: 380px; height: 300px;
          float: left;
          img {
            width: 100%; height: 100%;
            object-fit: cover;
          }
        }
        /* 네번째 brand article */
        &:nth-of-type(4) {
          width: 780px; height: 300px;
          float: left;
          margin-top: 20px;
          position: relative;
          img {
            width: 100%; height: 100%;
            object-fit: cover;
          }
          &::after {
            content: '';
            display: block;
            width: 100%; height: 100%;
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(45deg, rgba(255, 192, 203, 0.4), rgba(173, 216, 230, 0.4));
            opacity: 0;
            transition: 0.5s;
          }
          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* section - banner 영역 */
#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/banner2.jpg) no-repeat center/cover;
  .inner {
    width: 1180px;
    margin: 0 auto;
    h1 {
      font: bold 30px/1 'arial';
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }
    p {
      font: 16px/1.3 'arial';
      color: #bbb;
      text-align: center;
    }
  }
}

/* section - why choose seoul flower? 영역 */

#why-seoul-flower {
  width: 100%;
  margin-top: 150px;

  .inner {
    width: 1180px;
    padding-top: 150px;
    margin: 0 auto;
    background: #DACC96;
    text-align: center;
    h2 {
      font-size: 40px;
      margin-bottom: 30px;
    }
    & > p {
      padding-bottom: 150px;
    }

    .wrap {
      width: 100%; height: 100%;
      position: relative;
      article {
        width: 50%;
        &:nth-of-type(1) {
          float: left;
          .reason {
            width: 100%;
            padding: 50px;
            margin-bottom: 50px;
            img {
              width: 100%;

            }
          }
        }
        &:nth-of-type(2) {
          float: left;
          height: 1290px;
          // sticky 속성은 부모의 높이 px이 필수. %단위는 x
          .reason-answer {
            position: sticky;
            margin: 0 auto;
            padding: 50px;
            width: 500px;
            top: 0;
            h2 {
              line-height: 80px;
            }
          }
        }
      }
    }
  }
}

/* section - delivery service 영역 */

#delivery {
  .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
    background: #888;
    h2 {
      font-size: 40px;
      padding: 100px;
    }
  }
}

/* section - review 영역 */

#review {
  width: 100%;
}


/* footer 영역 */

#footer {
  width: 100%;
  background: #444;
  padding: 100px 0;
  .inner {
    width: 1180px;
    margin: 0 auto;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    h1 {
      font: bold 24px/1 'arial';
      color: #666;
      float: left;
    }
    ul {
      float: right;
      li {
        float: left;
        margin-left: 20px;
        a {
          font: bold 14px/1 'arial';
          color: #666;
        }
      }
    }
    address {
      float: left;
      width: 100%;
      font: 12px/1 'arial';
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #888;
    }
    p {
      float: left;
      width: 100%;
      font: 12px/1 'arial';
      color: #777;
    }
  }
}