@charset 'utf-8';

// reset css
@import 'reset.scss';
@import 'shop.scss';
@import 'about.scss';
@import 'faqs.scss';
@import 'contact.scss';


// font style
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
}

// body {
//   background-color: #FDFAF6;
// }

#header {
  width: 100%;

  .inner {
    width: 1180px; height: 150px;
    margin: 0 auto;
    position: relative;

    .logo {
      position: absolute;
      top: 0; left: 50%;
      transform: translateX(-50%);

      a {
        background: url(../img/logo4.png) no-repeat;
        width: 200px; height: 100px;
        display: block;

        // ir 기법으로 logo text 안보이게 하기
        span {
          position: absolute;
          clip: rect(0,0,0,0);
          width: 0; height: 0;
        }

      }
    }
    .menuWeb {
      #gnb {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        border-bottom: 1px solid #555;
        border-top: 1px solid #555;
        // hover 효과
        li {
          float: left;
          margin: 0 50px;
          a {
            color: #333;
            position: relative;
            display: inline-block;
            transition: 0.3s;
            transform-origin: 50% 0;
            transform-style: preserve-3d;
            &::before {
              position: absolute;
              top: 100%; left: 0;
              width: 100%; height: 100%;
              content: attr(data-hover);
              transition: 0.3s;
              transform: rotateX(-90deg);
              transform-origin: 50% 0;
            }
          }
          &:hover,
          &:focus
          {
            a {
              transform: rotateX(90deg) translateY(-22px);
              &::before {
                border-bottom: 1px solid #333;
              }
            }
          }
        }
        &::after {
          content: '';
          display: block;
          margin-top: 40px;
        }
      }
      .util {
        position: absolute;
        top: 50px; right: 40px;

        li {
          float: left;
          margin-left: 20px;
          a {
            color: #333;
            font-size: 14px;
            i {
              color: #9D5353;
            }
          }
          &:hover a,
          &:hover i {
            color: goldenrod;
          }
        }
      }
    }
  }
}

/* figure visual 영역 */

#visual {
  width: 100%; height: calc(100vh - 182px);
  overflow: hidden;
  background: #000;
  margin-top: 30px;

  video {
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: #fff;
    }
    #visual-btn {
      font-size: 16px;
      margin-top: 30px;
      padding: 6px 30px;
      border: 1px solid #fff;
      color: #fff;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        background: #fff;
        opacity: 0.8;
        color: black;
      }
    }
  }
}

/* section - new to store 영역 */

#new-arrival {
  position: relative;
  width: 100%;
  padding: 200px 0;

  .inner {
    width: 1120px;
    margin: 0 auto;
    position: relative;


    h1 {
      font-size: 34px;
      text-align: center;
      margin-bottom: 50px;
    }

    // slider 버튼
    i {
      position: absolute;
      font-size: 50px;
      color: #555;
      bottom: 150px;
      cursor: pointer;
    }
    .fa-angle-left {
    left: -100px;
    }
    .fa-angle-right {
    right: -100px;
    }

    .wrap {
      width: 100%; // 1120px
      overflow: hidden;
      .wrap-imgs {
        width: 1700px;
        
        article {
          float: left;
          width: 250px;
          margin-right: 40px;
          text-align: center;
          &:last-of-type {
            margin-right: 0;
          }
          .pic {
            width: 100%; height: 250px;
            overflow: hidden;
            img {
              width: 100%; height: 100%;
              object-fit: cover;
              transition: all 0.5s;
            }
            &:hover img {
              transform: scale(1.1);
            }
          }
          h2 {
            margin-top: 10px;
            a {
              font-size: 20px;
              font-family: 'Cormorant Garamond', serif;
              color: #333;
            }
          }
        }
      }
    }
  }
}
.new-arrival-bg {
  position: absolute;
  width: 100%; height: 340px;
  bottom: 0;
  background: #BDD2B6;
  z-index: -1;
}

/* section - occasion 영역 */
#occasions {
  width: 100%;
  padding: 200px 0;
  background: #E4EFE7;
  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    h1 {
      font-size: 40px;
      color: #555;
      text-align: center;
      margin-bottom: 50px;
    }
    .wrap {
      width: 100%;
      position: relative;
      article {
        // 연습
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          position: relative;
          width: 50%; height: 400px;
          background: #444;
          float: left;
          overflow: hidden;
          img {
            width: 100%; height: 100%;
            object-fit: cover;
          }
          &::before {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            display: block;
            content: '';
            text-align: center;
            font-size: 0;
            width: 100%; height: 100%;
            border: 3px solid #fff;
            transition: 0.5s;
          }
          &::after {
            content: '';
            text-align: center;
            font-size: 34px;
            line-height: 400px;
            letter-spacing: 2px;
            color: #fff;
            display: block;
            width: 100%; height: 100%;
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(45deg, rgba(255, 192, 203, 0.4), rgba(173, 216, 230, 0.4));
            opacity: 0;
            transition: 0.5s;
          }
          &:hover {
            &::before {
              opacity: 1;
              width: 80%; height: 80%;
            }
            &::after {
              opacity: 1;
            }
          }
        }
        /* 첫번째 brand article text */
        &:nth-of-type(1) {
          &::before {
            content: 'gift';
          }
          &::after {
            content: 'gift';
          }
        }
        /* 두번째 brand article text */
        &:nth-of-type(2) {
          &::before {
            content: 'wedding';
          }
          &::after {
            content: 'wedding';
          }
        }
        /* 세번째 brand article text */
        &:nth-of-type(3) {
          &::before {
            content: 'event';
          }
          &::after {
            content: 'event';
          }
        }
        /* 네번째 brand article text */
        &:nth-of-type(4) {
          &::before {
            content: 'home decor';
          }
          &::after {
            content: 'home decor';
          }
        }

        /* 다섯번째 (가운데 텍스트 부분) brand article */
        &:nth-of-type(5) {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
          width: 260px; height: 220px;
          background-color: #F0F2B6;
          z-index: 3;
          padding: 30px;
          // padding: 170px 50px 0;
          text-align: center;
          // border: 2px solid #333;
          h2 {
            // font: bold 20px/1.2 'Raleway';
            font-size: 26px;
            color: #333;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

/* section - banner 영역 */
#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/banner2.jpg) no-repeat center/cover fixed;
  .inner {
    width: 1180px;
    margin: 0 auto;
    h1 {
      font: bold 30px/1 'arial';
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }
    p {
      font: 16px/1.3 'arial';
      color: #ddd;
      text-align: center;
    }
  }
}

/* section - why choose seoul flower? 영역 */

#why-seoul-flower {
  width: 100%;
  margin-top: 150px;

  .inner {
    width: 1180px;
    padding-top: 150px;
    margin: 0 auto;
    // background: #FAF1E6;
    text-align: center;
    h2 {
      font-size: 50px;
      margin-bottom: 30px;
    }
    & > p {
      padding-bottom: 150px;
    }

    .wrap {
      width: 100%; height: 100%;
      position: relative;
      // 왼쪽 article
      article {
        width: 50%;
        &:nth-of-type(1) {
          float: left;
          .reason {
            width: 100%;
            padding: 50px;
            margin: 100px 0 250px 0;
            transform: translateX(-200%);
            transition: transform 0.4s ease;
            img {
              width: 100%;
            }
            &.one {

            }
            &.two {
  
            }
            &.three {
              
            }
            &.show {
              transform: translateX(0);
            }
          }
        }
        // 오른쪽 article
        &:nth-of-type(2) {
          float: left;
          height: 2000px;
          // sticky 속성은 부모의 높이 px이 필수. %단위는 x
          .reason-answer {
            position: sticky;
            margin: 0 auto;
            padding: 50px;
            width: 500px;
            top: 0;
            h2 {
              line-height: 80px;
            }
          }
        }
      }
    }
  }
}

/* section - delivery service 영역 */

#delivery {
  width: 100%;
  position: relative;
  .inner {
    width: 1180px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    // background: #888;
    h2 {
      font-size: 46px;
      padding: 100px 0 20px;
    }
    .delivery-bg {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(../img/city.png);
      background-size: cover;
      background-position: center;
      // transition: 1s;
      overflow: hidden;
      .delivery-txt {
        width: 100%;
        padding: 50px;
        p {
          font-size: 24px;
        }
        ul {
          text-align: start;
          width: 460px;
          margin: 50px auto;
          li {
            font-weight: bold;
            font-size: 18px;
            margin: 20px 10px;
            &:nth-of-type(1) {
              color: #9D5353;
            }
          }
        } 
      }
      .car {
        position: absolute;
        top: 600px; left: 0;
        font-size: 90px;
        
      }
    }
    .delivery-txt {
      width: 100%;
    }
  }
}

/* section - testimonials 영역 */

#testimonials {
  width: 100%;
  .inner {
    width: 1180px;
    padding: 200px 80px 160px;
    margin: 0 auto;
    .testimonials-wrap {
      text-align: center;
      h1 {
        font-size: 30px;
      }
      section {
        width: 50%;
        float: left;
        padding: 5%;
        .pic {
          width: 100px; height: 100px;
          margin: 0 auto;
          img {
            width: 100%; height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        h2 {
          font-size: 20px;
          margin: 5px 0;
        }
        p {
          margin-bottom: 10px;
          line-height: 24px;
        }
      }
      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
}

/* section - ??? 영역 */
#xxx {
  position: relative;
  width: 100%; height: 300px;
  background: #eee;
  .inner {
    width: 1000px;
    h1 {
      position: absolute;
      top: 20px; left: 50%;
      transform: translateX(-50%);
    }
    .brands {
      display: flex;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      i {
        font-size: 80px;
        margin-right: 100px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


/* footer 영역 */

#footer {
  width: 100%;
  background: #064420;
  padding: 100px 0;
  .inner {
    width: 1180px;
    margin: 0 auto;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    h1 {
      font: bold 24px/1 'arial';
      color: #ccc;
      float: left;
    }
    ul {
      float: right;
      li {
        float: left;
        margin-left: 20px;
        a {
          font: bold 14px/1 'arial';
          color: #ccc;
        }
      }
    }
    address {
      float: left;
      width: 100%;
      font: 12px/1 'arial';
      color: #ccc;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #ccc;
    }
    p {
      float: left;
      width: 100%;
      font: 12px/1 'arial';
      color: #ddd;
    }
  }
}